pandas
numpy
scipy
scikit-learn
seaborn
matplotlib
imblearn
joblib
jupyter
flask
gunicorn
flask-sqlalchemy
psycopg2-binary

# TensorFlow dependencies
tensorflow-macos; platform_system == "Darwin" and platform_machine == "arm64"
tensorflow; platform_system != "Darwin" or platform_machine != "arm64"
tensorflow-metal; platform_system == "Darwin" and platform_machine == "arm64"
keras
