pandas
numpy
scipy
scikit-learn
seaborn
matplotlib
imblearn
joblib
jupyter
flask
gunicorn
flask-sqlalchemy
psycopg2-binary

# TensorFlow (choix selon l'architecture)
tensorflow-macos==2.11.0; platform_system == "Darwin" and platform_machine == "arm64"
tensorflow-metal==0.8.0; platform_system == "Darwin" and platform_machine == "arm64"
tensorflow==2.11.0; platform_system != "Darwin" or platform_machine != "arm64"
keras
